<main>
  <h1 class='text-center'>Hello world</h1>
  <h1 class='text-muted text-end'>Hello world</h1>
  <h2 class='text-uppercase'>Hello world</h2>
  <h3 class='text-lowercase'>Hello world</h3>
  <h3 class='text-capitalize'>Hello world</h3>

  <hr />
  <div class='display-1'>Hello world</div>
  <div class='display-1 text-muted'>Hello world</div>
  <div class='display-5'>Hello world</div>
  <div class='display-6'>Hello world</div>

  <hr />
  <div class='text-muted text-end'>
    Дод текст
    <span class='display-6'>with display-6</span>
  </div>
  <hr />

  <button class='btn btn-primary'>
    <span class='text-uppercase'>Test button primary</span>
  </button>

  <button class='btn btn-secondary'>Test button secondary</button>
  <button class='btn btn-success'>Test button success</button>
  <button class='btn btn-danger'>Test button danger</button>
  <button class='btn btn-warning'>Test button warning</button>
  <button class='btn btn-info'>Test button info</button>
  <button class='btn btn-light'>Test button light</button>
  <button class='btn btn-dark'>Test button dark</button>
  <button class='btn btn-link'>Test button link</button> 

  <hr />
  <p class='text-primary'>My text</p>
  <p class='text-secondary'>My text</p>
  <p class='text-success'>My text</p>
  <p class='text-danger'>My text</p>
  <p class='text-warning'>My text</p>
  <p class='text-info'>My text</p>
  <p class='text-light'>My text</p>
  <p class='text-dark'>My text</p>
  <hr />

  <button class='btn btn-secondary btn-lg'>Додати</button>
  <button class='btn btn-outline-secondary'>Змінити</button>
  <button class='btn btn-outline-danger btn-sm'>Видалити
  </button>
  <br /><br />
  <button class='btn btn-outline-success'>success</button>
  <button class='btn btn-outline-warning'>warning</button>
  <button class='btn btn-outline-info'>info</button>
  <button class='btn btn-outline-light'>light</button>
  <button class='btn btn-outline-dark'>dark</button>

  <hr />
  <div class='card'>
    <div class='card-body'>
      This is card content
    </div>
  </div>

  <br>

  <div class='card'>
    <div class='card-body'>
        <button class='btn btn-secondary btn-lg'>Додати</button>
        <button class='btn btn-outline-secondary'>Змінити</button>
        <button class='btn btn-outline-danger btn-sm'>Видалити
    </div>
  </div>
</main>