<main>
  <div class='row'>
    <div class='col-12'>
      {{#with main}}
        <section class='pb-3'>
          <div class='card'>
            <div class='card-body'>
              <h2 class='card-title pb-3'>Educations</h2>
              {{#each education}}
                <div class='px-5 py-1'>
                  <p>
                    {{name}}
                    {{#unless isEnd}}
                      <span
                        class='badge text-bg-primary rounded-pill'
                      >
                        ще в процесі
                      </span>
                    {{/unless}}
                  </p>
                </div>
              {{/each}}
            </div>
          </div>
        </section>
        <section class='pb-3'>
          <div class='card'>
            <div class='card-body'>
              <h3 class='card-title pb-3'>Certificates</h3>
              {{#each certificates}}
                <div class='px-5 py-1'>
                  <p>
                    {{name}}
                    <span
                      class='badge text-bg-success rounded-pill'
                    >
                      {{id}}
                    </span>
                  </p>
                </div>
              {{/each}}
            </div>
          </div>
        </section>
      {{/with}}
    </div>
  </div>
</main>