<main class='p-5'>
  <div class='row'>
    <div class='col'>
      <h1>Cписок сторінок</h1>
      <p>Проект</p>
      <div class='col-2 d-grid gap-2'>
        <a
          href='/task11'
          type='button'
          class='btn btn-primary'
        >
          js
        </a>
        <a
          href='/task12'
          type='button'
          class='btn btn-primary'
        >
          car
        </a>
        <a href='#' type='button' class='btn btn-primary'>
          mac
        </a>
        <a
          href='/task21'
          type='button'
          class='btn btn-primary'
        >
          task 2.1
        </a>
        <a
          href='/task22'
          type='button'
          class='btn btn-primary'
        >
          task 2.2
        </a>
        <a
          href='/task31'
          type='button'
          class='btn btn-primary'
        >
          task 3.1
        </a>
      </div>
    </div>
  </div>
</main>