<main>
  <div class='row'>
    <div class='col-12'>
      {{#each main}}
        <div class='card mb-5'>
          <div class='card-body'>
            <h2 class='card-title'>{{title}}</h2>
            <p> {{text}} </p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</main>