<main class="p-5">
  <div class='row'>
    <div class='col-12'>
      {{#with main}}
      <div class='card mb-5'>
        <div class='card-body'>
          <h1 class='card-title'>{{make}}</h1>

        </div>
      </div>
      {{/with}}
    </div>
  </div>
</main>