<nav>
  <ol class='breadcrumb'>
    <li class='breadcrumb-item'>
      <a class='text-decoration-none' href='/summary'>
        Summary
      </a>
    </li>
    <li class='breadcrumb-item'>
      <a class='text-decoration-none' href='/skills'>
        Skills
      </a>
    </li>
    <li class='breadcrumb-item'>
      <a class='text-decoration-none' href='/education'>
        Education
      </a>
    </li>
    <li class='breadcrumb-item'>
      <a class='text-decoration-none' href='/work'>
        Work
      </a>
    </li>
  </ol>
</nav>