<main>
  <div class='nav nav-tabs'>
    <div class='nav-item'>
      <a href='/bootstrap' class='nav-link'>Home</a>
    </div>
    <div class='nav-item'>
      <a href='/bootstrap2' class='nav-link'>2 урок</a>
    </div>
    <div class='nav-item'>
      <a href='/bootstrap3' class='nav-link'>3 урок</a>
    </div>
    <div class='nav-item'>
      <a href='/bootstrap4' class='nav-link'>4 урок</a>
    </div>
    <div class='nav-item'>
      <a href='/bootstrap5' class='nav-link'>5 урок</a>
    </div>
    <div class='nav-item'>
      <a href='/bootstrap6' class='nav-link'>6 урок</a>
    </div>
    <div class='nav-item'>
      <a href='/bootstrap7' class='nav-link'>7 урок</a>
    </div>
  </div>
</main>