<section>
  <div class='row'>
    {{#with service}}
      <div class='col-12'>
        <div
          class='card text-bg-success text-light text-center'
        >
          <h2>
            {{title}}
          </h2>
          <p>
            {{description}}
          </p>
          <div class='pb-3'>
            <a
              href={{buttons.0.link}}
              class='btn btn-primary'
            >{{buttons.0.text}}</a>
          </div>
        </div>
      </div>
    {{/with}}
  </div>
</section>