<footer>
  <div class='row'>
    {{#each footer}}
      <div class='col-2'>
        <div class='nav flex-column'>
          <div class='nav-item'>
            {{#each this}}
              <div>
                <a
                  href={{link}}
                  class='nav-link'
                >{{text}}</a>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</footer>