<div class='card'>
  <img src={{image}} alt={{title}} class='card-img-top' />
  <div class='card-body'>
    <h5 class='card-title'>
      {{title}}
      {{#if isHot}}
        <span
          class='badge text-bg-warning text-uppercase rounded-pill'
        >
          Hot!
        </span>
      {{/if}}
      {{#if idNew}}
        <span
          class='badge text-bg-primary rounded-pill'
        >Нове
        </span>
      {{/if}}
    </h5>
    <p> {{description}}</p>
  </div>
</div>